
img{
    max-width: 100%;
    display: block;
}

.Text{
    width: 180vh;
    height: 20vh;
    margin-top: -450px;
}

.boxTextMain{
    height: 100%;
    width: 100%;

    align-items: center;
    display: flex;
    flex-wrap: nowrap;

    margin: auto;
}

.boxTextMain > div{
    margin: 10px 10px;
}

p{
    text-decoration: none;
    text-align: justify;
    color: #f8f9f7;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14.4px;
}

.Text-Box1{
    width: 150vh;
}

@media(max-width: 1600px){
    .boxTextMain{
        width: 160vh;
        height: 25vh;
    }
    p{
        font-size: 15px;
    }
}

@media(max-width: 1500px){
    .boxTextMain{
        width: 140vh;
        height: 25vh;
    }
    p{
        font-size: 13px;
    }
}
@media(max-width: 1230px){
    .boxTextMain{
        width: 100vh;
        height: 25vh;
    }
    p{
        font-size: 9px;
    }
}

@media(max-width: 900px){
    .boxTextMain{
        width: 55vh;
        height: 25vh;
    }
    p{
        font-size: 8px;
    }
}

@media(max-width: 500px){
    .boxTextMain{
        width: 50vh;
        height: 10vh;
    }
    p{
        font-size: 5px;
    }
}