@import url("https://fonts.googleapis.com/css2?family=Noto+Sans%3Awght%40700&family=Poppins%3Awght%40600&display=swap%27%29%3B");

*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

html, body{
    height: 100%;
}

body{
    font-size: 1.6rem;
}

header{
    background-color: black;
}

.Logo a{
    font-family: Noto Sans;
    color: #f8f9f7;
    text-decoration: none;
}

header .container{
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 90%;
    max-width: 1100px;
    margin: auto;
}

nav ul{
    display: flex;
}

nav ul li{
    list-style: none;
}

nav ul li a{
    text-decoration: none;
    color: #f8f9f7;
    font-size: 2.1rem;
    padding: 6px 10px;
    margin-left: 48px;
    font-family: Poppins;
}

nav ul li a:hover{
    background-color: rgba(255, 255, 255, 0.048);
    transition: 0.3s;
}

@media(max-width: 964px){
    html{
        font-size: 50%;
    }
}

@media(max-width: 809px){
    html{
        font-size: 40%;
    }
}

@media(max-width: 709px){
    nav{
        display: none;
    }

    .Um,
    .Dois,
    .Tres{
        background-color: white;
        height: 5px;
        width: 100%;
        margin: 6px auto;

        transition-duration: 0.3s;
    }

    .menu-mobile{
        width: 40px;
        height: 30px;
    }

    .Menu.On{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        z-index: 2;
        background-color: rgb(0, 0, 0);
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .Menu.On nav{
        display: block;
    }

    .Menu.On .menu-mobile{
        position: absolute;
        right: 20px;
        top: 20px;
    }

    .Menu.On .menu-mobile .Um{
        transform: rotate(45deg) translate(7px, 7px);
    }

    .Menu.On .menu-mobile .Dois{
        opacity: 0;
    }

    .Menu.On .menu-mobile .Tres{
        transform: rotate(-45deg) translate(8px, -9px);
    }

    .Menu.On nav ul{
        display: block;
        text-align: center;
    }

    .Menu.On nav ul li a{
        transition-duration: 0,3s;
        font-size: 5rem;
        line-height: 15rem;
        margin-left: 0;
    }
}

