main{
    width: 100%;
    height: 100vh; /**/
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
}

.Conteudo{
    width: 180vh;
    height: 55vh;
    justify-content: center;
    align-items: center;
    background: #ffffff;
}

.Conteudo h1{
    font-size: 15vw;
    text-transform: uppercase;
    text-align: center;
}