main{
   
    height: 200vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #15182e;
}

.Conteudo{
    border-radius: 20px;
    overflow: hidden;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 180vh;
    height: 60vh;
    justify-content: center;
    background: #fa000000;
    border-radius: 20px;
    overflow: hidden;
    z-index: 0;
}

.navegacao{
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%);
    display: flex;

}

.bar{
    width: 80px;
    height: 30px;
    border: 2px solid #ffffff;
    margin: 6px;
    border-radius: 5px;
    cursor: pointer;
    transition: .3s;
}

.bar:hover{
    background-color: rgba(255, 255, 255, 0.048);
}

input{
    display: none;
}

.Slides{
    display: flex;
    width: 500%;
    height: 100%;
}

.slide{
    width: 20%;
    transition: .6s;
}

.slide img{
    width: 100%;
    height: 100%;
}

#slide1:checked ~ .s1{
    margin-left: 0;
}

#slide2:checked ~ .s1{
    margin-left: -20%;
}

#slide3:checked ~ .s1{
    margin-left: -40%;
}

#slide4:checked ~ .s1{
    margin-left: -60%;
}

#slide5:checked ~ .s1{
    margin-left: -80%;
}

@media(max-width: 1600px){
    .Conteudo{
        width: 130vh;
        height: 50vh;
    }
}

@media(max-width: 1230px){
    .Conteudo{
        width: 110vh;
        height: 50vh;
    }
}

@media(max-width: 500px){
    .Conteudo{
        width: 50vh;
        height: 50vh;
    }
}

@media(max-width: 900px){
    .bar{
        width: 40px;
        height: 15px;
    }
}