

footer{
    width: 100%;
    min-height: 150px;
    background: #000000eb;
    display: flex;
}

footer .boxs{
    width: 320px;
    min-height: 150px;
    padding: 20px;
}

footer .boxs:nth-child(4){
    width: 400px;
}

.boxs h2{
    color: #fff;
    margin-bottom: 20px;
}

.boxs ul li{
    margin: 10px 0px;
    list-style: none;
}

.boxs ul li a{
    color: #ddd;
    text-decoration: none;
}

.boxs ul li a:hover{
    background-color: rgba(255, 255, 255, 0.048);
    transition: 0.3s;
}

.boxs p{
    color: #fff;
    text-align: justify;
}

.footer{
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #000000;
    padding: 0px 20px;
}

.footer h2{
    color: #fff;
}

.footer .sociais{
    display: flex;
}

.sociais .social{
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    background: #ddd;
    margin: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: backgroud .3s linear;
}

.sociais .social a{
    color: #000;
    font-size: 1.5em;
    transition: color .3s linear;
}

.sociais .social:hover{
    background-color: rgba(255, 255, 255, 0.048);
    transition: 0.3s;
}

.sociais .social:hover a{
    background-color: rgba(255, 255, 255, 0.048);
    transition: 0.3s;
}

@media(max-width: 964px){
    footer{
        flex-direction: column;
    }
    footer .boxs{
        width: 100%;
        text-align: center;
    }
    footer .boxs:nth-child(4){
        width: 100%
    };
}